<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <img class="logo" src="https://mma.prnewswire.com/media/352910/visteon_corporation_logo.jpg?p=facebook">
        <h1>Video Stream</h1>
        <div class="select-container">
            <!-- Toggle for Stream -->
            <div class="toggle-container">
                <label class="switch">
                    <input type="checkbox" id="toggleStream" onchange="toggleStream()">
                    <span class="slider"></span>
                </label>
                <span>Stream Video</span>
            </div>
        </div>
        <div class="video-container">
            <img id="videoStream" alt="Video Stream">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
